<div class="container-fluid">
    <div class="row">
        <div class="col-12 text-center p-5">
            <img src="./assets/img/star-wars.png" alt="Star Wars logo" href="#">
        </div>
        <div class="col-12 text-end text-light d-flex justify-content-end">
          
          <app-login></app-login>
          <p class="px-2">//</p>
          <app-signup></app-signup>
        
        </div>
        <div class="col-12">
            <ul class="nav menu justify-content-center">
                <li class="nav-item">
                  <a class="nav-link menu-link" href="#">HOME</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link menu-link" href="/starships">STARSHIPS</a>
                </li>
              </ul>
        </div>
    </div>



</div>


