<div class="container-fluid">
    <div class="row">
        <div class="col-12 text-center p-5">
            <img src="./assets/img/star-wars.png" alt="Star Wars logo" href="#">
        </div>
        <div class="col-12 text-end text-light d-flex justify-content-end">
          <p><a class="menu-link" (click)="closeModal(); openLogInModal()">LOG IN</a></p>
          <p class="px-2">//</p>
          <p><a class="menu-link" (click)="closeModal(); openSignUpModal()">SIGN UP</a></p>
        
        </div>
        <div class="col-12">
            <ul class="nav menu justify-content-center">
                <li class="nav-item">
                  <a class="nav-link menu-link" href="#">HOME</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link menu-link" (click)="goToStarships()">STARSHIPS</a>
                </li>
              </ul>
        </div>
    </div>
</div>



